* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
}
#numeri{
    margin-top: 2rem;
}
.container{
    width: 80%;
    margin: 0 auto;
    height: 100vh;;
}

.timerContainer{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding-top: 2rem;
}

.indicazione{
    justify-content: center;
    font-size: 1.5rem;
    margin: 2rem;
    
}

.containerNumeri{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.containerNumeri > *{
    width: 10%;
    border: 1px solid grey;
    border-radius: 5px;
    height: 2rem;
    width: 5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.pulsante{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;    
}
#conferma{
    height: 3rem;
    font-size: 1.5rem;
    padding: 0 2rem;
    border: 0;
    border-radius: 5px;
    background-color: rgb(13, 110, 253);
    color: white;
}
#punteggio{
    text-align: center;
    font-size: 1.5rem;
}
#conferma:active{
    background-color: rgb(14, 14, 187);
}

.startContainer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
}

#start{
    height: 3rem;
    font-size: 1.5rem;
    padding: 0 2rem;
    border: 0;
    border-radius: 5px;
    background-color: red;
    color: white;
    display: block;
}
#start:active{
    background-color: rgb(131, 7, 7);
}

.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}